.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.definition {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
}

.definitionText {
  flex: 1;
  margin-right: 20px;
}

.definitionImage {
  width: 400px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.phasesContainer {
  position: relative;
  margin-bottom: 40px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  cursor: pointer;
  user-select: none;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}

.phaseContent {
  padding: 0 50px;
}

.levelsCardsRow {
  gap: 40px;
  margin-bottom: 40px;
}

.cardsRow {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.card {
  flex: 0 1 300px;
  background-color: var(--card);
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.levelCard h4 {
  font-size: 1.5em;
}

.levelCard p {
  font-size: 1.1em;
}

.compact-spacing p,
.compact-spacing h4 {
  line-height: 1.3;
  margin-bottom: 0.5rem;
}

.compact-spacing h4 {
  margin-top: 0.75rem;
}


h1, h2, h4 {
  color: #333;
}

p, li {
  line-height: 1.6;
  font-size: 20px;
  color: #555;
}


.rectangleList {
  counter-reset: li;
  list-style: none;
  font-size: 1.2em;
}

.rectangleList li {
  position: relative;
  display: block;
  padding: .4em .4em .4em .8em;
  padding: .4em;
  margin: .5em 0 .5em 2.5em;
  background: #ede9d0;
  color: #444;
  transition: all .3s ease-out;
}

.rectangleList li:hover {
  background: #a6ae9c;
}